.bg-gradient-purple-pink {
    background: rgb(149, 97, 226);
    background: linear-gradient(45deg, rgba(149, 97, 226, 1) 30%, rgba(246, 109, 155, 1) 100%);
}

.bg-gradient-purple-teal {
    background: rgb(149,97,226);
    background: linear-gradient(45deg, rgba(149,97,226,1) 0%, rgba(77,192,181,1) 90%);
}
