.switch {
    position: relative;
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid;
    @apply border-grey rounded-sm;
}
.switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin .1s ease-in;
}
.switch-inner:before, .switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 14px;
    padding: 0;
    line-height: 10px;
    font-size: 8px;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
    @apply text-white;
}
.switch-inner:before {
    content: "";
    padding-left: 5px;
    @apply bg-white text-white;
}
.switch-inner:after {
    content: "";
    padding-right: 5px;
    text-align: right;
    @apply bg-white text-grey-dark;
}
.switch-switch {
    display: block;
    width: 20px;
    height: 18px;
    margin: 0px;
    position: absolute; top: 0; bottom: 0; right: 20px;
    transition: all .1s ease-in;
    @apply bg-grey-darker rounded-sm;
}
.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px;
    @apply bg-teal;
}
